
*.csv
env.py
Trash.ipynb
__pycache__/env.cpython-39.pyc
__pycache__/wrangle.cpython-39.pyc
__pycache__/explore.cpython-39.pyc
__pycache__/modeling.cpython-39.pyc
__pycache__/mvp_wrangle.cpython-39.pyc
__pycache__/wrangleclusters.cpython-39.pyc
wrangleclusters.py
mvp_wrangle.py
